<div class="jumbotron">
  <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif">Student Tracking App</h3>
</div>

<div class="container">
    <thead style="align-items: center" class="container">
        <tr>
          <th><strong class="add">Add new Student</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button (click)="btnClick()" type="button" class="btn btn-primary">Add Student</button>
          </td>
        </tr>
      </tbody>
      <br>
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Standard</th>
            <th scope="col">Age</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students$ | async; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{student.name}}</td>
              <td>{{student.rollNumber}}</td>
              <td>{{student.standard}}</td>
              <td>{{student.age}}</td>
              <td><button class="btn btn-danger" (click)="removeStudent(student.rollNumber)">Delete</button></td>

            </tr>
        </tbody>
      </table>

</div>
<br>